body {
	background-color: #ffffff;
	font-family: "Work Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	color: #111414;
}

/* Media Queries */
.profile-desc {
	font-size: calc(1rem + 0.5vw);
}

@media (max-width: 992px) {
	h1 {
		font-size: 2rem; /* Font size for tablets */
	}
	h2 {
		font-size: 1.5rem; /* Font size for tablets */
	}
	h3 {
		font-size: 1.2rem; /* Font size for tablets */
	}
	p {
		font-size: 0.9rem; /* Font size for tablets */
	}
}

@media (max-width: 768px) {
	h1 {
		font-size: 1.8rem; /* Font size for small tablets */
	}
	h2 {
		font-size: 1.4rem; /* Font size for small tablets */
	}
	h3 {
		font-size: 1.2rem; /* Font size for small tablets */
	}
	p {
		font-size: 0.85rem; /* Font size for small tablets */
	}
}

@media (max-width: 576px) {
	h1 {
		font-size: 1.6rem; /* Font size for mobile */
	}
	h2 {
		font-size: 1.3rem; /* Font size for mobile */
	}
	h3 {
		font-size: 1.1rem; /* Font size for mobile */
	}
	p {
		font-size: 0.7rem; /* Font size for mobile */
	}
}

.nav-link {
	color: #111414;
}

.profile-pic {
	max-width: 500px;
	max-height: 300px;
	overflow: hidden;
}

.profile-pic > img {
	max-width: 600px;
	object-fit: cover;
	object-position: center;
}

/* Style 2 */
.card {
	position: relative;
	overflow: hidden;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
	transform: scale(1.05);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Hide the card-img-overlay initially */
.card-img-overlay {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s ease, visibility 0.5s ease;
}

/* Show the overlay on hover */
.card:hover .card-img-overlay {
	opacity: 1;
	visibility: visible;
}

/* Optional: Scale up the card image on hover */
.card .img-work img {
	transition: transform 0.3s ease;
}

.card:hover .img-work img {
	filter: blur(2px);
	transform: scale(1.1);
}

/* Styling for card overlay content */
.card-img-overlay {
	background: rgba(0, 0, 0, 0.6); /* Dark transparent background */
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 20px;
}

.card-img-overlay h3,
.card-img-overlay p {
	transition: transform 0.3s ease;
	transform: translateY(20px); /* Move text down slightly */
}

.card:hover .card-img-overlay h3,
.card:hover .card-img-overlay p {
	transform: translateY(0); /* Move text up to original position */
}

/* Send Mail Effect */
.send-mail:hover {
	background-color: #212529;
}

.circle1 {
	width: 30px;
	height: 30px;
}

.circle2 {
	width: 10px;
	height: 10px;
	transition: all 0.2s ease;
}

.send-mail:hover .circle2 {
	transform: scale(3.5);
}

.circle1 .arrow-icon {
	position: absolute;
	display: none;
}

.send-mail:hover .circle1 .arrow-icon {
	display: block;
}
